.top-navbar {
  position: fixed;
  width: 100vw;
  background: black;
  z-index: 2;
  padding: 0 10px 0px 55px;
}

.top-navbar-item {
  font-weight: bold;
  color: white;
  line-height: 50px;
  padding: 5px 10px;
  margin:0 5px;
  transition: all 200ms;
}

.top-navbar-title {
  font-weight: bold;
  color: white;
  border-right: 1px solid #fff;
  margin-top: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.top-navbar-item:hover, .top-navbar-item.active {
  background: #0081ca;
  color: white;
  border-radius: 8px;
}