.sidebar-container {
  min-height: 100vh;
  width: 15px;
  padding: 0 10px;
  /* border: 1px solid #000; */
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  position: fixed;
}

.flex-sm-col {
  flex-direction: column;
}

.sidebar-container.expand .toggler-menu {
  transform: rotate(90deg);
}

.sidebar-content {
  padding-top: 10px;
  display: none;
}

.sidebar-item {
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.sidebar-title {
  display: none;
}

.sidebar-item.active,
.sidebar-item:hover {
  color: white;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
}

.sidebar-container.expand {
  width: 250px;
}

.sidebar-container.expand .sidebar-title {
  display: block;
}

.sidebar-container.expand .sidebar-content {
  display: block;
}

.topnav {
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background: #037ddb;
  margin: 10px 0;
}

.content-container {
  min-height: calc(100vh - 50px);
  font-size: 16px;
  width: 100%;
  margin-left: 35px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.card-content {
  padding: 10px;
  overflow-y: auto;
  /* background: #23272f; */
}

.card-content .materi {
  display: none;
}

.w-100 {
  width: 100%;
}

.w-screen {
  width: 100vw;
  max-width: 100%;
}

.h-screen {
  height: 100vh;
}

.m-w-full {
  max-width: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.py-1 {
  padding: 1em 0;
}

.gap-1 {
  gap: 1em;
}

pre {
  border-radius: 8px;
  /* box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.5); */
}

.table {
  border: 1px solid #efefef;
}

.table td,
.table th {
  font-size: 16px;
  padding: 5px;
}

.table thead tr {
  background: black;
}

.table th {
  color: white;
  font-weight: bold;
}

.table tbody tr:nth-child(odd) {
  background: #efefef;
}

.table tbody tr:hover {
  background: #c6e6ff!important;
}

.title {
  padding: 5px;
  background: linear-gradient(195deg, rgb(53 163 231), rgb(0 41 139));
  color: white;
  font-weight: bold;
  display: table;
  cursor: pointer;
  border-radius: 4px;
}

.section {
  margin-bottom: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  padding: 10px;
  background: aliceblue;
}

.section>.title {
  /* margin-top: -25px; */
}

.mb-1 {
  margin-bottom: 0.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.w3-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 90%;
}

.text-white {
  color: white;
}

.text-red {
  color: red;
}

.pt-1 {
  padding-top: 1em;
}

@media screen and (min-width: 425px) {
  .sidebar-container {
    position: relative;
    width: 250px;
  }

  .sidebar-container .sidebar-title {
    display: block;
  }

  .sidebar-content {
    display: block;
  }

  .content-container {
    margin-left: 0px;
    margin-top: 50px;
  }

  .flex-sm-col {
    flex-direction: row;
  }
}

.card {
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.25);
  transition-duration: .5s;
}

.card.cheatsheet {
  color: #037ddb;
}

.card.cheatsheet:hover {
  background: #037ddb;
  color: white;
}

.syntax-container {
  max-height: 800px;
  overflow-y: auto;
}

.shadow-md {
  box-shadow: 2px 3px 7px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 7px -1px rgba(0, 0, 0, 0.75);
}