:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0!important;
  /* display: flex; */
  min-width: 320px;
  /* min-height: 100vh; */
  /* background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25)); */
  /* color: white; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

pre {
  margin: .5em 0;
}

.bg-white {
  background: white;
}

.b-1 {
  border: 1px solid #ddd;
}

.link:hover {
  font-weight: bold;
  background: yellow;
}